# OS
.DS_Store
*.swp
*.swo
.vscode
.idea

# Build
vendor
.vendor-new
build
dist
testnet
localnet
config/keys.json

# IDE
.idea/
*.iml
proto/interswap-chain/genesis.proto
proto/interswap-chain/params.proto
proto/interswap-chain/query.proto
proto/interswap-chain/tx.proto
